<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>画像</p>
    <img src="images/<%= img %>" width="200" height="200">

    <br>

    <form action="/im" method="POST" enctype="multipart/form-data">
        <p>画像をアップロード</p>
        <input type="file" name="file">
        <br>
        <input type="submit" value="送信">
    </form>
</body>
</html>