<% function content() { %>
    <p>Hello World</p>
<% } %>
<% function test() { %>
    <p>Sample Text</p>
<% } %>

<% if (a == 0) { %>
    <% content(); %>
<% } else if (a == 1) { %>
    <% test(); %>
<% } %>